.bodyText {
    font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #1a334c;
}
 
.mainHeader {
    font-family: "Palatino", serif;
    font-size: 30pt;
    color: #1a334c;
}

.subHeader {
     font-family: "Palatino", serif;
     font-weight: bold;
     font-size: 20pt;
     color: #0066ff;
     background-color: #b7c4d9;
}

body {
    background-color: #fff5e7
}

h1 {
      font-family: Garamond;
      font-size: 30pt;
      color: #1a334c;
}

h2 {
     font-family: Garamond;
     font-weight: bold;
     font-size: 20pt;
     color: #0066ff;
     background-color: #b7c4d9;
}