body {
    background-color: #fff5e7;
    font-family: Verdana;
}

h1 {
    font-family: "Gill Sans MT", Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    background-color: #02246d;
    color: #FFFFFF;
}

h2 {
    font-family: "Gill Sans MT", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #1f2e3a;
}

h4 {
    font-family: "Gill Sans MT", Arial, sans-serif;
    color: #1f2e3a;
}

body {
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #ddf0ff
}
.no-padding {
	padding: 0px 0px 0px 0px;
}

.footer {
    font-size: 12px;
    color: #8b9bb5;
}
.word-entry-area {
	padding-left: 1em;
}
.center-content-vh {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.flex-vertical {
	display: flex;
	flex-direction: column;
}
.joke-header {
	width: 100%;
	padding-right: 15px;
	position: absolute;
}
.joke-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}
